<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>URL Calculator</title>
        <style>
            .text {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="text">
            <h1>URL Calculator</h1>
            <p><b>Examples:</b></p>
            <p>/calc/5/2/div - result on page "5 / 2 = 2.5"</p>
            <p>/calc/5/2/sum - result on page "5 + 2 = 7"</p>
            <p>/calc/5/2/dif - result on page "5 - 2 = 3"</p>
            <p>/calc/5/2/mult - result on page "5 * 2 = 10"</p>
        </div>
    </body>
</html>